<div class="row">
    <a class="col-md-4" href="~/features">
        <span class="glyphicon glyphicon-facetime-video"></span>
        <h3>Recording</h3>
        <p>Easily capture sequence of steps. StepShot will follow your cursor and each your click will product a screenshot.</p>
    </a>
    <a class="col-md-4" href="~/features">
        <span class="glyphicon glyphicon-edit"></span>
        <h3>Annotation</h3>
        <p>Annotate images with text, arrows, highlights, blur, sequence numbers and more!</p>
    </a>
    <a class="col-md-4" href="~/features">
        <span class="glyphicon glyphicon-export"></span>
        <h3>Export & Publish</h3>
        <p>Ready to use manuals can be exported to variety of formats or published to Confluence and easyDITA portals!</p>
    </a>
</div>
