@{
    ViewBag.Title = "Step by Step Software Documentation";
}

<div class="confluence">
    <div class="product-links ">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col col-md-offset-2">
                    <a href="~/" class="btn product-link">Full Featured StepShot</a>
                </div>
                <div class="col-md-4">
                    <a href="~/confluence" class="btn product-link product-link-active">StepShot for Confluence</a>
                </div>
                <div class="col-md-2">
                    <a href="~/compare" class="btn btn-warning">Compare</a>
                </div>
            </div>
        </div>
    </div>


    <div class="product">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h2>
                        Create step-by-step<br/><strong>software documentation</strong>
                    </h2>
                    <p>Publish directly to Confluence!</p>
                    <a href="~/try" class="btn btn-primary btn-lg">TRY IT NOW!</a>
                </div>
                <div class="col-md-8">
                    <video autoplay loop>
                        <source src="~/Content/Video/fullvideo_4confluence_440p.mp4" type="video/mp4" />
                    </video>
                </div>
            </div>
        </div>
    </div>

    <div class="features text-center">
        <div class="container">
            <h2>Document your steps easily</h2>
            <p>StepShot is an intuitive and powerful application that lets you create detailed step-by-step procedure guides and manuals.</p>
            @Html.Partial("FeaturesPartial")
        </div>
    </div>

    <div class="get-stepshot">
        <div class="container text-center">
            <h2>Get StepShot for Confluence Today</h2>
            <div class="row text-center">
                <div class="col-md-4">
                    <h3>Try It Now</h3>
                    <p class="price">FREE</p>
                    <p>
                        Not sure if StepShot is right for you?<br />Try it for free!<br /> &nbsp;
                    </p>

                    <a href="" class="btn btn-primary">Download</a>
                </div>
                <div class="col-md-4">
                    <h3>Single User</h3>
                    <p class="price">$39.95</p>
                    <p>
                        Application license including minor version updates.<br /> &nbsp;
                    </p>
                    <a href="" class="btn btn-primary">Buy now</a>
                </div>
                <div class="col-md-4">
                    <h3>Upgrade</h3>
                    <p class="price">$23.95</p>
                    <p>
                        Upgrade your previous copy of StepShot for Confluence to the latest version with <b>40%</b> discount.
                    </p>
                    <a href="" class="btn btn-primary">Request Upgrade</a>
                </div>
            </div>
            <p>
                Buy 5 or more and save <b>15%</b>
            </p>
        </div>
    </div>

    <div class="discount">
        <div class="container text-center">
            <h2>Discounts and Volume Licenses</h2>
            <div class="row">
                <div class="col-md-6">
                    <h3>Academic license</h3>
                    <p class="discount-text">30% OFF</p>
                    <p>Get the discount if you would like using StepShot for Confluence for academic or studying purposes.</p>
                    <a href="" class="btn btn-primary">Request Academic Purchase Link</a>
                </div>
                <div class="col-md-6">
                    <h3>Corporate plan</h3>
                    <p class="price">
                        <img src="~/Content/icon.corporate.png" />
                    </p>
                    <p>
                        Please contact us directly at contact@stepshot.net<br />to apply for corporate plan licenses.
                    </p>
                    <a href="" class="btn btn-success">Contact us</a>
                </div>
            </div>
        </div>
    </div>

    <div class="subscription text-center">
        <div class="container">
            <h2>Subscription</h2>
            <p>Allows to pay for application only during your project period. Includes minor and major updates.</p>
            <div class="row text-center">
                <div class="col-md-4">
                    <h3>3 months</h3>
                    <p class="price">$9.95</p>
                    <a href="" class="btn btn-primary">Subscribe Now</a>
                </div>
                <div class="col-md-4">
                    <h3>6 months</h3>
                    <p class="price">$19.95</p>
                    <a href="" class="btn btn-primary">Subscribe Now</a>
                </div>
                <div class="col-md-4">
                    <h3>1 year</h3>
                    <p class="price">$34.95</p>
                    <a href="" class="btn btn-primary">Subscribe Now</a>
                </div>
            </div>
        </div>
    </div>

    <div class="try-another text-center">
        <div class="container">
            <h2>Interested in full featured StepShot?</h2>
            <p>Learn more about full featured StepShot with exporting to word, html, pdf, xml formats and publishing to easyDITA portal!</p>
            <a href="~/" class="btn btn-lg btn-success">Learn more &rarr;</a>
        </div>
    </div>
</div>

