@{
    ViewBag.Title = "Home Page";
}

<div class="product-full">
    <div class="product-links ">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col col-md-offset-2">
                    <a href="~/" class="btn product-link product-link-active">Full Featured StepShot</a>
                </div>
                <div class="col-md-4">
                    <a href="~/confluence" class="btn product-link">StepShot for Confluence</a>
                </div>
                <div class="col-md-2">
                    <a href="~/compare" class="btn btn-warning">Compare</a>
                </div>
            </div>
        </div>
    </div>


    <div class="product">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h1>
                        Introducing<br /><strong>StepShot V3.5</strong>
                    </h1>
                    <h2>
                        Create step-by-step<br /><strong>software documentation</strong>
                    </h2>
                    <a href="~/try" class="btn btn-warning btn-lg">TRY STEPSHOT NOW!</a>
                </div>
                <div class="col-md-7">
                    <video autoplay loop>
                        <source src="~/Content/Video/fullvideo_smallsize.mp4" type="video/mp4" />
                    </video>
                </div>
            </div>
        </div>
    </div>

    <div class="features">
        <div class="container">
            <h2 class="text-center">Document your steps easily with StepShot</h2>
            <p class="text-center">StepShot is an intuitive and powerful application that lets you create detailed step-by-step procedure guides and manuals.</p>
            <div class="row">
                <a class="col-md-4">
                    <span class="glyphicon glyphicon-facetime-video"></span>
                    <h3>Recording</h3>
                    <p>Easily capture sequence of steps. StepShot will follow your cursor and each your click will product a screenshot.</p>
                </a>
                <a class="col-md-4">
                    <span class="glyphicon glyphicon-edit"></span>
                    <h3>Annotation</h3>
                    <p>Annotate images with text, arrows, highlights, blur, sequence numbers and more!</p>
                </a>
                <a class="col-md-4">
                    <span class="glyphicon glyphicon-export"></span>
                    <h3>Export & Publish</h3>
                    <p>Ready to use manuals can be exported to variety of formats or published to Confluence and easyDITA portals!</p>
                </a>
            </div>
        </div>
    </div>

    <div class="get-stepshot">
        <div class="container text-center">
            <h2>Get StepShot Today</h2>
            <div class="row text-center">
                <div class="col-md-4">
                    <h3>Try StepShot Now</h3>
                    <p class="price">FREE</p>
                    <p>Not sure if StepShot is right for you?<br/>Try it for free!
                    </p>
                    <a href="" class="btn btn-success">Download</a>
                </div>
                <div class="col-md-4">
                    <h3>Single User</h3>
                    <p class="price">$94.95</p>
                    <p>Application license including minor version updates.</p>
                    <a href="" class="btn btn-success">Buy now</a>
                </div>
                <div class="col-md-4">
                    <h3>Upgrade</h3>
                    <p class="price">$56.95</p>
                    <p>Upgrade your previous copy of StepShot to the latest version with <b>40%</b> discount.
                    </p>
                    <a href="" class="btn btn-success">Request Upgrade</a>
                </div>
            </div>
            <p>Buy 5 or more and save <b>15%</b>
            </p>
        </div>
    </div>

    <div class="discount">
        <div class="container text-center">
            <h2>Discounts and Volume Licenses</h2>
            <div class="row">
                <div class="col-md-6">
                    <h3>Academic license</h3>
                    <p class="discount-text">30% OFF</p>
                    <p>Get the discount if you would like using StepShot for academic or studying purposes.</p>
                    <a href="" class="btn btn-success">Request Academic Purchase Link</a>
                </div>
                <div class="col-md-6">
                    <h3>Corporate plan</h3>
                    <p class="discount-text">
                        <img src="~/Content/icon.corporate.png"/>
                    </p>
                    <p>Please contact us directly at contact@stepshot.net<br/>to apply for corporate plan licenses.
                    </p>
                    <a href="" class="btn btn-primary">Contact us</a>
                </div>
            </div>
        </div>
    </div>

    <div class="subscription text-center">
        <div class="container">
            <h2 >Subscription</h2>
            <p>Allows to pay for application only during your project period. Includes minor and major updates.</p>
            <div class="row text-center">
                <div class="col-md-4">
                    <h3>3 months</h3>
                    <p class="price">$29.95</p>
                    <a href="" class="btn btn-success">Subscribe Now</a>
                </div>
                <div class="col-md-4">
                    <h3>6 months</h3>
                    <p class="price">$49.95</p>
                    <a href="" class="btn btn-success">Subscribe Now</a>
                </div>
                <div class="col-md-4">
                    <h3>1 year</h3>
                    <p class="price">$89.95</p>
                    <a href="" class="btn btn-success">Subscribe Now</a>
                </div>
            </div>
        </div>
    </div>

    <div class="try-another text-center">
        <div class="container">
            <h2>Try StepShot for Confluence!</h2>
            <p>Get StepShot made specifically for Confluence and save 58%!</p>
            <a href="~/confluence" class="btn btn-lg btn-primary">Learn more &rarr;</a>
        </div>
    </div>
</div>

