body {
    padding-top: 8px;
    padding-bottom: 20px;
    font-family: "Segoe UI",Helvetica,Arial,sans-serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.navbar-brand {
    padding: 0;
}

#logo {
    margin-left: -19px;
}

.navbar-nav {
    padding-right: 8px;
}

.navbar-nav li {
    font-size: 16px;
}

#featuresLink {
    color: black;
}

footer {
    background-color: #555;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
    color: #ddd;
    font-size: 16px;
}

footer p {
    margin-bottom: 0;
}

footer a {
    color: #ddd;
}