body {
    padding-top: 8px;
    font-family: "Segoe UI",Helvetica,Arial,sans-serif;
}

h1, h2, h3 {
    font-weight: 100;
    line-height: 1.1;
    font-family: 'Segoe UI', Helvetica, Arial, sans-serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar {
    margin-bottom: 7px;
}

.navbar-header .navbar-brand {
    padding: 0 0 0 4px;
}

.navbar-nav li {
    font-size: 16px;
}

#featuresLink {
    color: black;
}

footer {
    background-color: #444;
    padding-top: 28px;
    padding-bottom: 26px;
    text-align: center;
    color: #ddd;
    font-size: 16px;
}

footer p {
    margin-bottom: 0;
}

footer a {
    color: #ddd;
}

/*#region shared*/

h3 {
    font-size: 32px;
}

/* #endregion*/

/* #region product-links*/

.product-links .row {
    align-items: center;
    display: flex;
}

.product-link {
    background-color: #444;
    font-size: 24px;
    color: white;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    display: block;
}

.product-link:hover {
    background-color: #333;
    color: white;
}

/* #endregion*/

/*#region .product*/

.product {
    padding-top: 3px;
    color: white;
    padding-bottom: 16px;
}

.product h1 {
    font-size: 48px;
}

.product h2 {
    padding-top: 27px;
}

.product .btn {
    margin-top: 17px;
}

.product video {
    margin-top: 16px;
}

/* #endregion*/

/*#region .features*/

.features {
    padding-bottom: 19px;
}

.features .row {
    padding-top: 14px;
}

.features a {
    text-decoration: none;
    color: #333;
}

.features a:hover {
    background-color: #eee;
    cursor: pointer;
}

.features span.glyphicon {
    font-size: 96px;
}

/* #endregion*/

/* #region get-stepshot*/

.get-stepshot {
    background-color: #eee;
    padding-top: 3px;
    padding-bottom: 19px;
}

.get-stepshot .row {
    padding-top: 7px;
    padding-bottom: 10px;
}

.get-stepshot p {
    font-size: 16px;
}

.get-stepshot p.price {
    font-size: 64px;
}

/* #endregion */

/* #region discount */

.discount {
    padding-top: 3px;
    padding-bottom: 29px;
}

.discount .row {
    padding-top: 6px;
}

.discount p {
    font-size: 16px;
}

.discount p.discount-text {
    font-size: 32px;
}

.discount p.discount-text img {
    height: 38px;
    opacity: .8;
}

/* #endregion*/

/* #region subscription */

.subscription {
    background-color: #eee;
    padding-top: 4px;
    padding-bottom: 19px;
}

.subscription .row {
    padding-top: 6px;
    padding-bottom: 10px;
}

.subscription p {
    font-size: 16px;
}

.subscription p.price {
    font-size: 64px;
}

/* #endregion*/

/* #region try-another*/

.try-another {
    padding-top: 3px;
    padding-bottom: 20px;
}

.try-another p {
    font-size: 16px;
}

/* #endregion */

/* #region product-full*/

.product-full h2{
    font-size: 48px;
}

.product-full .product-links .product-link-active {
    background-color: #34a55c;
    color: white;
}

.product-full .product-links .product-link-active:hover {
    background-color: #287e46;
    color: white;
}

.product-full .product {
    background-color: #34a55c;
}

.product-full .product h2 {
    font-size: 30px
}

.product-full .features h2{
    margin-top: 23px;
}

.product-full .features p {
    font-size: 16px;
}

.product-full p.price {
    color: #47a447;
}

.product-full .discount h2 {
    font-size: 32px;
}

/* #endregion*/

/* #region confluence*/

.confluence h2 {
    margin-top: 20px;
    font-size: 32px;
}

.confluence .product-links .product-link-active {
    background-color: #205081;
    color: white;
}

.confluence .product-links .product-link-active:hover {
    background-color: #163758;
    color: white;
}

.confluence .product {
    background-color: #205081;
}

.confluence .product h2 {
    font-size: 30px;
    margin-top: 90px;
}

.confluence .product p {
    font-weight: 100;
    font-size: 32px;
    line-height: 1.1;
    margin-top: 34px;
}

.confluence .features h2{
    margin-top: 23px;
}

.confluence .features p{
    font-size: 16px;
    margin-top: 10px;
}

.confluence p.price {
    color: #205081;
}

/* #endregion*/